<ul class="dropdown-menu">
    {% for category in categories %}
        {% if not category.hidden %}
            <li class="{% if category.current or category.expanded %} current{% endif %}">
                <a href="{{ url("ongr_category", {'document' : category}) }}">{{ category.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
